*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: Lato;
}

.bg-primary  {
    background-color: #18bc9c;

}

header {
    padding: 24px 16px;
}

header + * {
    margin-top: 85px;
}

section {
    padding: 202px 0 96px;
}

nav {
    float: right;
}

header::after {
    content: "";
    display: table;
    clear: both;
}


.bg-secondary {
    background-color: #2c3e50;

}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /*width: 100%;*/

}

.masthead {
    padding: 202px 0 96px;
}

.logo, nav {
    display: inline-block;

}

.logo > a {
    font-size: 32px;

}

.nav-link {
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav {
    padding: 10px 0 8px;
    margin: 0;
}

.main-nav > li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 10px;
}

.main-nav .nav-link:hover,
.main-nav .nav-link:focus
{
    color: #18bc9c;
}